#user-container h1{
    margin-top: 10px;
    color: #da552f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    list-style: none;
}

.user-list li{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.user-list li p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.button{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background: #da552f;
    color: #fff;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

#create-link{
    margin: 50px;
}